.cinemaListDetail {
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 0.5em;
}
.cinemaListDetail ul {
  width: fit-content;
  margin-bottom: 0 !important;
}
.cinemaListDetail ul li a img {
  max-width: initial;
  display: inline-block;
  width: 60px;
  background-color: #fff !important;
}

@media screen and (min-width: 768px) {
  .cinemaListDetail {
    width: 30vw;
    overflow-y: scroll;
    overflow-x: visible;
  }
  .cinemaListDetail ul {
    overflow-y: scroll;
    width: fit-content;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .cinemaListDetail {
    width: 20vw;
    overflow: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .cinemaListDetail {
    width: 15vw;
  }
}
